*,::before,::after{margin: 0; box-sizing: border-box;}
a{ text-decoration: none;}
ul{ list-style: none; padding: 0;}
img{ vertical-align: bottom;}
button{ cursor: pointer; padding: 0; font: 16px;}
label{ display: inline-block;}
input,select{font-family: var(--ff);}
@font-face{
    font-family: Study-Light;
    src: url(font/fonnts.com-Study-Light.otf);
    font-weight: lighter;
}

/* 12 grids */
.full-container{max-width: 100%; padding: 0 1rem;}
.container{ max-width: 1440px; margin: auto; padding: 0 1rem;}
.row{ display: flex; flex-flow: row wrap; margin: 0 -1rem; }
[class^="col-"]{ flex: 1 0 auto; padding: 0 1rem;}
.col-1{ flex-basis: 8.33%; max-width: 8.33%;}
.col-2{ flex-basis: 16.66%; max-width: 16.66%;}
.col-3{ flex-basis: 25%; max-width: 25%;}
.col-4{ flex-basis: 33.33%; max-width: 33.33%;}
.col-5{ flex-basis: 41.66%; max-width: 41.66%;}
.col-6{ flex-basis: 50%; max-width: 50%;}
.col-7{ flex-basis: 58.33%; max-width:58.33%;}
.col-8{ flex-basis: 66.66%; max-width: 66.66%;}
.col-9{ flex-basis: 75%; max-width: 75%;}
.col-10{ flex-basis: 83.33%; max-width: 83.33%;}
.col-12{ flex-basis: 100%; max-width: 100%;}
.flex{ display: flex;}
.grid{ display: grid; place-items: center; }
.justify-space-bet{justify-content: space-between;}
.align-center{ align-items: center;}
.justify-space-even{justify-content: space-evenly;}
.img-resp{max-width: 100%; height: auto;}

html{ font-size: 15px;--ff:study-ligh, sans-serif;background-color: #151313;}
body{ font: 16px}

header{background-color: #211919;color: #fff;text-align: center;padding: 20px;font-size: 20px;}
header h1{line-height: 60px;font-family: url(font/fonnts.com-Study-Light.otf);}

nav{ background-color: #fff; }
nav a{display: inline-block;}
nav li{text-align: center;  margin: 27px 0;font-weight: 400; color: black;font-size: 42px;}

.banner{background:  url(imgp/Untitled-2.webp) no-repeat center /cover;}
.text-overlay{ text-align: center;color: #fff; font-size: 66px; margin-top: 225px;}
.text-overlay p{color: #fff;font-size: 23px;font-weight: 100; margin: 40px 100px 225px;}

.wrap-2 .container{background-color: #fff;height: 521px;margin: 74px 58px;text-align: center;}
.text-about h2{font-size: 34px;text-transform:uppercase;padding-top: 60px;}
.text-about p{font-size: 32px;text-transform: none;margin: 85px 104px 105px;}

.name{color: #fff;position: relative;}
.name h3{text-align: center;border: solid black;line-height: 27px;color: #fff;width: 340px;background-color: black;position: absolute;top:70%;justify-content: center; left: 10%;}
.name p{margin-top: 40px;margin-bottom: 90px;}

.banner-1{ background: url(imgp/Untitled-4.webp) no-repeat center /cover;height: 545px;}
.banner-1 p{color: #fff;font-size: 80px;text-align: right;padding: 30px;margin-top: 150px;}

.wrap-4{margin: 78px;}
.price p{color: #fff;font-weight: 400;text-align: right;}
.price p:nth-child(1){font-size: 42px;}
.price p:nth-child(2){font-size: 62px;}
.price p:nth-child(3){font-size: 41px;}


.food{color: #fff;margin-top: 74px;margin-bottom: 95px;font-weight: 400;}
.food h3{text-align: center;margin-bottom: 40px;font-size: 33px;}
.food p{text-align: center;font-size: 12px;}


.wrap-6{margin: 78px;}
.drinks p{color: #fff;font-weight: 400;text-align: left;}
.drinks p:nth-child(1){font-size: 62px;margin-top: 90px;}
.drinks p:nth-child(2){font-size: 42px;}

.drinks2 p{text-align: right;color: #fff;}
.drinks2 p:nth-child(1){font-size: 41px;margin-top: 90px;}
.drinks2 p:nth-child(2){font-size: 62px;}
.drinks2 p:nth-child(3){font-size: 41px;}

.contact{background-color: #fff;text-align: center;padding: 27px;font-family: url(font/fonnts.com-Study-Light.otf);}
.contact h3{font-size: 41px;}
.contact p{font-size: 62px;}
.contact li a{color: black;font-size: 50px;}



/* Responsive */

@media screen and (max-width: 1440px){
.col-1{ flex-basis: 8.33%; max-width: 8.33%;}
.col-2{ flex-basis: 16.66%; max-width: 16.66%;}
.col-3{ flex-basis: 25%; max-width: 25%;}
.col-4{ flex-basis: 33.33%; max-width: 33.33%;}
.col-5{ flex-basis: 41.66%; max-width: 41.66%;}
.col-6{ flex-basis: 50%; max-width: 50%;}
.col-7{ flex-basis: 58.33%; max-width:58.33%;}
.col-8{ flex-basis: 66.66%; max-width: 66.66%;}
.col-9{ flex-basis: 75%; max-width: 75%;}
.col-10{ flex-basis: 83.33%; max-width: 83.33%;}
.col-12{ flex-basis: 100%; max-width: 100%;}

    html{font-size: 15px;}
    .name h3{translate: 10%;width: 235px;top: 69%;}

    .banner-1 p{font-size: 70px;margin-top: 100px;padding: 10px;}
    .food h3{font-size: 32px;margin-bottom: 20px;}
    .food p{font-size: 18px;}
    .drinks2 p:nth-child(1){margin-top: 40px;}

}

@media screen and (max-width: 980px){
.col-t-1{ flex-basis: 8.33%; max-width: 8.33%;}
.col-t-2{ flex-basis: 16.66%; max-width: 16.66%;}
.col-t-3{ flex-basis: 25%; max-width: 25%;}
.col-t-4{ flex-basis: 33.33%; max-width: 33.33%;}
.col-t-5{ flex-basis: 41.66%; max-width: 41.66%;}
.col-t-6{ flex-basis: 50%; max-width: 50%;}
.col-t-7{ flex-basis: 58.33%; max-width:58.33%;}
.col-t-8{ flex-basis: 66.66%; max-width: 66.66%;}
.col-t-9{ flex-basis: 75%; max-width: 75%;}
.col-t-10{ flex-basis: 83.33%; max-width: 83.33%;}
.col-t-12{ flex-basis: 100%; max-width: 100%;}
    html{font-size: 14px;}

    header h1{font-size: xx-large;line-height: 5px;padding: 30px;}
    .full-container li{font-size: xx-large;margin: 10px;padding: 10px;}

    .text-overlay{font-size: 20px;margin-top: 60px;color:#fff(111, 255, 0);}
 
    .wrap-2 .container{margin: 30px;text-align: center;}
    .text-about p{font-size: 30px;margin: 60px;} 

    .name{text-align: center;}
    .name h3{translate: 64%;width: 280px;top: 75%;}
    .name p{margin: 20px 110px;}

    .banner-1{max-height: 700px;}
    .banner-1 p{font-size: 50px;margin-top: 100px;padding: 10px;}

    .food{margin:60px 0 70px;}
    .food h3{font-size: 40px;margin-bottom: 20px;}
    .food p{font-size: 25px;}
    .order-1{ order: -1; }

    .price{margin-bottom: 20px;}
     
    .drinks p:nth-child(1){margin: 0;}
    .drinks p{text-align: center;margin-bottom: 30px;}

    .drinks2 p{text-align: center;}
    .drinks2 p:nth-child(1){font-size: 40px;margin-top: 20px;}
.drinks2 p:nth-child(2){font-size: 52px;}
.drinks2 p:nth-child(3){font-size: 40px;margin-bottom: 20px;}


.contact h3{font-size: 41px;}
.contact p{font-size: 50px;}
.contact li a{color: black;font-size: 40px;}


} 
@media screen and (max-width:767px){
    .col-p-1{ flex-basis: 8.33%; max-width: 8.33%;}
.col-p-2{ flex-basis: 16.66%; max-width: 16.66%;}
.col-p-3{ flex-basis: 25%; max-width: 25%;}
.col-p-4{ flex-basis: 33.33%; max-width: 33.33%;}
.col-p-5{ flex-basis: 41.66%; max-width: 41.66%;}
.col-p-6{ flex-basis: 50%; max-width: 50%;}
.col-p-7{ flex-basis: 58.33%; max-width:58.33%;}
.col-p-8{ flex-basis: 66.66%; max-width: 66.66%;}
.col-p-9{ flex-basis: 75%; max-width: 75%;}
.col-p-10{ flex-basis: 83.33%; max-width: 83.33%;}
.col-p-12{ flex-basis: 100%; max-width: 100%;}
    html{ font-size: 13px;}

    
    header h1{font-size: xx-large;}
    .full-container li{font-size: x-large;margin: 10px;}
    
    
    .text-overlay{font-size: 20px;margin-top: 60px;}
    .text-overlay p{font-size: 14px;margin: 30px 95px 40px;}    

    .wrap-2 .container{margin: 25px;text-align: center;}
    .text-about h2{font-size: xx-large;padding-top: 50px;}
    .text-about p{font-size: x-large;margin: 50px;} 
    .name h3{translate: 28%;width: 290px;top: 70%;}
    
    .banner-1{max-height: 300px;}
    .banner-1 p{font-size: 38px;margin-top: 100px;padding: 10px;}
  
    .price p{text-align: center;}
    .price p:nth-child(1){font-size: xx-large;}
    .price p:nth-child(2){font-size: xx-large;}
    .price p:nth-child(3){font-size: xx-large;}

    .drinks p:nth-child(1){font-size: xx-large;}
    .drinks p:nth-child(2){font-size: xx-large;}
    
    .drinks2 p{text-align: center;}
    .drinks2 p:nth-child(1){font-size: xx-large;margin-top: 0px;}
.drinks2 p:nth-child(2){font-size: xx-large;}
.drinks2 p:nth-child(3){font-size: xx-large;margin-bottom: 10px;}


.contact h3{font-size: 38px;}
.contact p{font-size: 48px;}
.contact li a{color: black;font-size: 35px;}

}


@media screen and (max-width:460px){
     .col-m-1{ flex-basis: 8.33%; max-width: 8.33%;}
     .col-m-2{ flex-basis: 16.66%; max-width: 16.66%;}
     .col-m-3{ flex-basis: 25%; max-width: 25%;}
     .col-m-4{ flex-basis: 33.33%; max-width: 33.33%;}
     .col-m-5{ flex-basis: 41.66%; max-width: 41.66%;}
     .col-m-6{ flex-basis: 50%; max-width: 50%;}
     .col-m-7{ flex-basis: 58.33%; max-width:58.33%;}
     .col-m-8{ flex-basis: 66.66%; max-width: 66.66%;}
     .col-m-9{ flex-basis: 75%; max-width: 75%;}
     .col-m-10{ flex-basis: 83.33%; max-width: 83.33%;}
     .col-m-12{ flex-basis: 100%; max-width: 100%;}


    html{font-size: 12px;}
        header h1{font-size: x-large;line-height: 35px;}
        .full-container li{font-size: large;margin: 10px;}
    
        .text-overlay{font-size: 13px;margin-top: 30px;}
        .text-overlay p{font-size: 10px;margin: 10px 15px 10px }

    .name h3{translate: 4%;width: 250px;}
    .name p{margin: 20px 10px;}
        .wrap-2 .container{ margin: 25px;text-align: center;padding: 0;}
        .text-about h2{font-size: 25px;padding-top: 10px;margin-top: 50px;}
        .text-about p{font-size: large;}

        .banner-1{max-height: 200px;}
        .banner-1 p{font-size: 25px;margin-top: 100px;padding: 10px;}
    .food{margin-bottom: 10px;}   
    .food h3{font-size: x-large;margin-bottom: 20px;}
    .food p{font-size: large;}

    .price p{text-align: center;}
    .price p:nth-child(1){font-size: x-large;}
    .price p:nth-child(2){font-size: x-large;}
    .price p:nth-child(3){font-size: x-large;}

    .drinks p:nth-child(1){font-size: x-large;}
    .drinks p:nth-child(2){font-size: x-large;}

    .drinks2 p{text-align: center;}
    .drinks2 p:nth-child(1){font-size: x-large;margin-top: 40px;}
.drinks2 p:nth-child(2){font-size: x-large;}
.drinks2 p:nth-child(3){font-size: x-large;margin-bottom: 10px;}

.contact h3{font-size: 31px;}
.contact p{font-size: 42px;}
.contact li a{color: black;font-size: 30px;}

}